<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Settings" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>

<GridLayout class="page__content">
  <Label class="page__content-icon fas" text="&#xf013;"></Label>
  <Label textWrap="true" marginTop="300" horizontalAlignment="center">
    <FormattedString>
      <span text="No tienes los permisos "></span>
      <span text="suficientes para "></span>
      <span text="realizar cambios en "></span>
      <span text="el sistema" ></span>
    </FormattedString></Label>
</GridLayout>
